@charset "utf-8";

.musicItem {
	display: flex;
	max-width: 515px;
	align-items: center;
	background-color: #202020;
	color: #fff;

	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;

	margin: 10px 0;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	transition: background-color 1s linear;
}

.musicItem:hover {
	background-color: #707070;
}

.musicNumber {
	margin: 0 20px;
}

.musicName {
	width: 380px;
}

.musicTime {
	margin: 0 5px;
	width: 35px;
}

.musicBtn {
	margin: 0 5px;
	padding: 0;

	border: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;

	background-color: #6cff7e;
	position: relative;
	transition: background-color .2s linear;
}
 
.musicBtn:hover {
	background-color: #74E856;
}

.musicBtn::before {
	content: "";
	display: block;

	width: 15px;
	margin: 0 auto;
	height: 3px;
	
	background-color: #fff;

	position: absolute;
	top: 10px;
	left: 5px;
}

.musicBtn::after {
	content: "";
	display: block;

	width: 15px;
	height: 3px;
	margin: auto;

	transform-origin: center center;
	transform: rotate(90deg);

	background-color: #fff;

	position: absolute;
	top: 10px;
	left: 5px;
}
