*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	overflow: hidden;

	font-family: 'Advent Pro', sans-serif;
}

#root {
	display: flex;
	background-color: #383235;
}

.routes {
	width: 80vw;
	height: 100vh;
	margin-left: 20px;

	overflow-y: auto;
	overflow-x: hidden;
}
